
html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    height: 40px;
}

.ul-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

.li-style-nav {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
}

.finder {
    width: 65vw;
    border-radius: 20px;
    height: 40px;
    border: none;
    background-color: #E1E1E1;
}

.icon-nav-fill {
    fill: #5F5F5F;
}

.user-img {
    height: 40px;
    border-radius: 20px;
}

#content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: masonry;
    gap: 10px 20px;
    padding-top: 80px;
    grid-column-end: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card-image {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: var(--i);
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 20px;
    height:300px;
}

.btn-bottom-container {
    display: flex;
    column-gap: 20px;
    padding-right: 12px;
    opacity: 0;
    padding-bottom: 20px;
}

.btn-guardar-container {
    padding-right: 12px;
    padding-top: 20px;
    opacity: 0;
}

.btn-guardar {
    background-color: #E60023;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
}

.share-container {
    background-color: #F0F0F0;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-container {
    background-color: #F0F0F0;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-guardar:hover {
    cursor: pointer;
}

.card-image:hover .btn-guardar-container {
    cursor: pointer;
    opacity: 1;
}

.card-image:hover .btn-bottom-container {
    cursor: pointer;
    opacity: 1;
}

.card-image:hover {
    box-shadow: inset 460px 0px 5px 0px #00000071;
    cursor: zoom-in;
}





@media only screen and (max-width: 820px) {

    .finder {
        width: 45vw;
        border-radius: 20px;
        height: 40px;
        border: none;
        background-color: #E1E1E1;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;
        padding-top: 80px;
        grid-column-end: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

}












@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');